* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 12px helvetica, arial, clean, sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}


div.container {
    text-align: justify;
    width: 50em;
    margin: 3em auto 2em auto;
    line-height: 1.5em;
}

div.container > div.title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

div.container div.content {
}

ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

.post {
    margin-top: 10px;
    padding-bottom: 30px;
}

.post div.title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 0;
}

.post div.subtitle {
    font-size: 11px;
    color: #AAA;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.post div.subtitle a {
    text-decoration: none;
    color: inherit;
}

.post div.content {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
}

.post pre code {
    border: none;
}


