<html>
    <head>
        <link rel="stylesheet" href="/css/core.css" type="text/css">
    </head>
    <body>
        <div class='container'>
            <div class='title'>bcwaldon</div>
            <div class='content'>
                {{ content }}
            </div>
            <div class='footer'>
                &copy; Brian Waldon 2012
                <span class='spacer'>|</span>
                bcwaldon@gmail.com
                <span class='spacer'>|</span>
                <a href='http://github.com/bcwaldon'>github.com/bcwaldon</a>
            </div>
        </div>
    </body>
</html>
